---
// Components
import Button from "components/Button.astro";

interface Props {
  date?: string;
  location?: string;
  links?: Array<{
    text: string;
    link: string;
    openInNewTab: boolean;
  }>;
}

const { date, location, links } = Astro.props;
---

<section
  class="section section-home-header full-height"
  data-theme-section="dark"
  data-bg-section="header-home"
>
  <div class="overlay overlay-background overlay-background-video">
    <div class="styled-video playpause overlay">
      <video
        class="overlay"
        preload="auto"
        autoplay
        loop
        muted
        webkit-playsinline
        playsinline
        poster="/videos/gosim-paris-compressed.webp"
      >
        <source src="/videos/strategy-forum.webm" type="video/webm" />
        <source src="/videos/strategy-forum.mp4" type="video/mp4" />
      </video>
    </div>
    <div class="overlay overlay-gradient-v2"></div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="logo-gosim-scroll">
          <svg
            width="86"
            height="25"
            viewBox="0 0 86 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M82.7139 16.4231C83.4104 16.4231 83.9783 16.6374 84.4177 17.0767C84.8677 17.5161 85.0928 18.1161 85.0928 18.8984V22.4238H83.5819V19.177C83.5819 18.2876 83.1104 17.8161 82.4139 17.8161C81.6531 17.8161 81.128 18.3626 81.128 19.2198V22.4238H79.6171V19.1877C79.6171 18.3197 79.1563 17.8161 78.4384 17.8161C77.699 17.8161 77.1632 18.3626 77.1632 19.2305V22.4238H75.6523V16.5838H77.1311V17.4196C77.4633 16.8088 78.1491 16.4123 78.9099 16.4231C79.6385 16.4231 80.3136 16.7767 80.6244 17.4518C81.053 16.8088 81.8459 16.4231 82.7139 16.4231Z"
              fill="white"
              fill-opacity="0.9"></path>
            <path
              d="M71.673 22.5633C70.0121 22.5633 68.9941 21.5989 68.9941 19.9594V16.584H70.505V19.9594C70.505 20.6988 70.9444 21.181 71.673 21.181C72.4017 21.181 72.841 20.6988 72.841 19.9594V16.584H74.3519V19.9594C74.3519 21.5989 73.3447 22.5633 71.673 22.5633Z"
              fill="white"
              fill-opacity="0.9"></path>
            <path
              d="M66.0695 22.4236H64.5586V16.5836H66.0052V17.3658C66.3588 16.7336 66.8946 16.4229 67.6125 16.4229C67.8483 16.4229 68.084 16.4657 68.3198 16.5514L68.1912 17.998C67.9447 17.923 67.709 17.8802 67.4947 17.8802C66.6374 17.8802 66.0695 18.4374 66.0695 19.6482V22.4236Z"
              fill="white"
              fill-opacity="0.9"></path>
            <path
              d="M57.2363 19.4982C57.2363 18.641 57.5256 17.9123 58.115 17.323C58.7044 16.7229 59.4544 16.4229 60.3653 16.4229C61.2761 16.4229 62.0262 16.7229 62.6155 17.323C63.2049 17.9123 63.4942 18.641 63.4942 19.4982C63.4942 20.3662 63.2049 21.0948 62.6155 21.6842C62.0262 22.2736 61.2761 22.5736 60.3653 22.5736C59.4544 22.5736 58.7044 22.2736 58.115 21.6842C57.5256 21.0948 57.2363 20.3662 57.2363 19.4982ZM59.208 20.6876C59.5187 21.0091 59.9045 21.1698 60.3653 21.1698C60.826 21.1698 61.2011 21.0091 61.5118 20.6876C61.8226 20.3555 61.9833 19.959 61.9833 19.4982C61.9833 19.0375 61.8226 18.641 61.5118 18.3195C61.2011 17.998 60.826 17.8373 60.3653 17.8373C59.9045 17.8373 59.5187 17.998 59.208 18.3195C58.8972 18.641 58.7472 19.0375 58.7472 19.4982C58.7472 19.959 58.8972 20.3555 59.208 20.6876Z"
              fill="white"
              fill-opacity="0.9"></path>
            <path
              d="M53.0468 22.4247H51.4609V14.5059H56.7437V16.006H53.0468V17.7848H56.2937V19.2743H53.0468V22.4247Z"
              fill="white"
              fill-opacity="0.9"></path>
            <path
              d="M44.947 20.388L46.2757 16.584H47.9259L45.5792 22.7133C45.0113 24.2028 44.2612 24.91 43.1039 24.91C42.6646 24.91 42.2895 24.8135 41.9788 24.6207L42.2359 23.3562C42.5038 23.4848 42.761 23.5491 42.986 23.5491C43.4575 23.5491 43.8326 23.2384 44.1219 22.6276L44.2398 22.3597L41.6895 16.584H43.4361L44.947 20.388Z"
              fill="white"
              fill-opacity="0.9"></path>
            <path
              d="M39.5291 17.2265V16.5836H40.9222V21.845C40.9222 22.7772 40.6221 23.5273 40.0221 24.0738C39.422 24.6203 38.6398 24.8989 37.6861 24.8989C36.6895 24.8989 35.7894 24.6203 35.0072 24.0524L35.5965 22.9165C36.2716 23.3773 36.9574 23.6023 37.6432 23.6023C38.8005 23.6023 39.4649 22.9272 39.4649 21.9843V21.6842C39.0148 22.1879 38.4147 22.4343 37.6646 22.4343C36.8074 22.4343 36.1109 22.1557 35.5644 21.5878C35.0179 21.0199 34.75 20.3126 34.75 19.4447C34.75 18.5767 35.0393 17.8588 35.6072 17.2908C36.1752 16.7229 36.8824 16.4336 37.7289 16.4336C38.4469 16.4336 39.0469 16.7015 39.5291 17.2265ZM36.2716 19.4554C36.2716 19.9376 36.4216 20.3341 36.7324 20.6448C37.0431 20.9556 37.4289 21.1163 37.8897 21.1163C38.3504 21.1163 38.7362 20.9556 39.0469 20.6448C39.3577 20.3233 39.5077 19.9269 39.5077 19.4554C39.5077 18.9839 39.3577 18.5981 39.0469 18.2874C38.7362 17.9766 38.3504 17.8159 37.8897 17.8159C37.4289 17.8159 37.0431 17.9766 36.7324 18.2874C36.4216 18.5981 36.2716 18.9839 36.2716 19.4554Z"
              fill="white"
              fill-opacity="0.9"></path>
            <path
              d="M34.0213 19.3697C34.0213 19.5733 33.9999 19.7983 33.9677 20.034H29.5851C29.7994 20.8591 30.3673 21.277 31.2888 21.277C31.9211 21.277 32.6711 21.0306 33.1748 20.6877L33.7749 21.7485C33.0355 22.2843 32.1889 22.5522 31.2245 22.5522C30.1958 22.5522 29.4136 22.2521 28.8671 21.6628C28.3206 21.0734 28.0527 20.3448 28.0527 19.4982C28.0527 18.6089 28.3313 17.8802 28.8993 17.3016C29.4672 16.7229 30.1958 16.4336 31.096 16.4336C31.9425 16.4336 32.6497 16.7015 33.1962 17.2265C33.7427 17.7516 34.0213 18.4588 34.0213 19.3697ZM31.096 17.6873C30.3352 17.6873 29.7672 18.1481 29.5851 18.9089H32.5533C32.414 18.1481 31.8675 17.6873 31.096 17.6873Z"
              fill="white"
              fill-opacity="0.9"></path>
            <path
              d="M27.2687 20.8914L27.7188 22.0808C27.2366 22.4023 26.6686 22.563 25.9936 22.563C24.6541 22.563 23.9576 21.7701 23.9576 20.2592V17.8482H23.0039V16.5837H23.9683V14.5156H25.4685V16.5837H27.3973V17.8482H25.4685V20.1627C25.4685 20.8485 25.7471 21.1914 26.2936 21.1914C26.5829 21.1914 26.9151 21.095 27.2687 20.8914Z"
              fill="white"
              fill-opacity="0.9"></path>
            <path
              d="M20.7011 17.2801V16.5836H22.137V22.4236H20.7011V21.7485C20.1974 22.295 19.5759 22.5629 18.8366 22.5629C18.0007 22.5629 17.3042 22.2736 16.7577 21.6842C16.2112 21.0949 15.9434 20.3555 15.9434 19.4768C15.9434 18.5981 16.222 17.8695 16.7685 17.3016C17.315 16.7229 18.0115 16.4336 18.8366 16.4336C19.5652 16.4336 20.1867 16.7122 20.7011 17.2801ZM20.7225 19.4982C20.7225 19.0375 20.5618 18.641 20.251 18.3088C19.9403 17.9766 19.5545 17.8159 19.083 17.8159C18.6008 17.8159 18.2151 17.9766 17.9043 18.3088C17.6043 18.641 17.4543 19.0375 17.4543 19.4982C17.4543 19.9697 17.6043 20.3662 17.915 20.6984C18.2258 21.0306 18.6115 21.1913 19.083 21.1913C19.5545 21.1913 19.9403 21.0306 20.251 20.6984C20.5618 20.3662 20.7225 19.9697 20.7225 19.4982Z"
              fill="white"
              fill-opacity="0.9"></path>
            <path
              d="M13.4543 22.4236H11.9434V16.5836H13.39V17.3658C13.7436 16.7336 14.2794 16.4229 14.9973 16.4229C15.233 16.4229 15.4688 16.4657 15.7045 16.5514L15.5759 17.998C15.3295 17.923 15.0937 17.8802 14.8794 17.8802C14.0222 17.8802 13.4543 18.4374 13.4543 19.6482V22.4236Z"
              fill="white"
              fill-opacity="0.9"></path>
            <path
              d="M10.7765 20.8914L11.2266 22.0808C10.7444 22.4023 10.1764 22.563 9.50136 22.563C8.16192 22.563 7.4654 21.7701 7.4654 20.2592V17.8482H6.51172V16.5837H7.47612V14.5156H8.9763V16.5837H10.9051V17.8482H8.9763V20.1627C8.9763 20.8485 9.25491 21.1914 9.8014 21.1914C10.0907 21.1914 10.4229 21.095 10.7765 20.8914Z"
              fill="white"
              fill-opacity="0.9"></path>
            <path
              d="M3.23474 22.5529C2.00244 22.5529 0.888025 22.0279 0.234375 21.0742L1.1452 19.9705C1.65955 20.6884 2.43107 21.0742 3.24545 21.0742C3.8991 21.0742 4.3813 20.7313 4.3813 20.2277C4.3813 19.9062 4.14556 19.6276 3.66336 19.4026C3.5562 19.349 3.29903 19.2525 2.88112 19.0918C2.47393 18.9311 2.16318 18.7811 1.94887 18.6632C1.11305 18.181 0.695145 17.5273 0.695145 16.6915C0.695145 16.0272 0.941603 15.4807 1.44523 15.0413C1.94887 14.602 2.60252 14.377 3.39547 14.377C4.42416 14.377 5.29213 14.7306 5.99935 15.4485L5.15282 16.6058C4.71348 16.1343 4.00626 15.8664 3.4169 15.8664C2.78468 15.8664 2.39892 16.1665 2.39892 16.6272C2.39892 16.938 2.61323 17.1951 3.04185 17.4095L3.82409 17.7524C4.26343 17.9345 4.5849 18.0738 4.78849 18.1703C5.6886 18.6096 6.13866 19.2633 6.13866 20.1419C6.13866 20.8492 5.87077 21.4278 5.33499 21.8779C4.79921 22.3279 4.1027 22.5529 3.23474 22.5529Z"
              fill="white"
              fill-opacity="0.9"></path>
            <path
              d="M83.5371 8.786V0.867188H85.1337V8.786H83.5371Z"
              fill="white"
              fill-opacity="0.9"></path>
            <path
              d="M82.5688 8.786H80.8972L80.3078 7.0715H77.5432L76.9324 8.786H75.2715L78.2933 0.867188H79.5899L82.5688 8.786ZM79.8577 5.65705L78.9362 3.02102L77.9932 5.65705H79.8577Z"
              fill="white"
              fill-opacity="0.9"></path>
            <path
              d="M72.4783 5.73197C72.4783 5.93556 72.4569 6.16059 72.4248 6.39633H68.0421C68.2564 7.22143 68.8243 7.63934 69.7459 7.63934C70.3781 7.63934 71.1282 7.39288 71.6318 7.04998L72.2319 8.11082C71.4925 8.6466 70.646 8.91449 69.6816 8.91449C68.6529 8.91449 67.8706 8.61445 67.3241 8.0251C66.7777 7.43574 66.5098 6.70708 66.5098 5.86055C66.5098 4.97116 66.7884 4.2425 67.3563 3.66386C67.9242 3.08522 68.6529 2.7959 69.553 2.7959C70.3995 2.7959 71.1067 3.06379 71.6532 3.58885C72.1997 4.11391 72.4783 4.82114 72.4783 5.73197ZM69.553 4.04962C68.7922 4.04962 68.2243 4.51039 68.0421 5.2712H71.0103C70.871 4.51039 70.3245 4.04962 69.553 4.04962Z"
              fill="white"
              fill-opacity="0.9"></path>
            <path
              d="M63.1593 8.91449C62.2485 8.91449 61.5091 8.62517 60.9305 8.05724C60.3518 7.48932 60.0625 6.74994 60.0625 5.86055C60.0625 4.97116 60.3518 4.23178 60.9412 3.66386C61.5305 3.08522 62.2806 2.7959 63.2022 2.7959C64.3916 2.7959 65.4417 3.38525 65.9239 4.42467L64.7131 5.08903C64.3594 4.49967 63.8558 4.19964 63.2236 4.19964C62.7414 4.19964 62.3449 4.36037 62.0342 4.68184C61.7234 4.99259 61.5627 5.38907 61.5627 5.86055C61.5627 6.34275 61.7127 6.73923 62.0235 7.0607C62.3342 7.37145 62.7307 7.53218 63.1914 7.53218C63.8022 7.53218 64.4237 7.16785 64.6809 6.6535L65.9025 7.37145C65.3989 8.31442 64.3594 8.91449 63.1593 8.91449Z"
              fill="white"
              fill-opacity="0.9"></path>
            <path
              d="M57.5734 8.78588H56.0625V2.94589H57.5091V3.72813C57.8627 3.09591 58.3985 2.78516 59.1164 2.78516C59.3522 2.78516 59.5879 2.82802 59.8237 2.91374L59.6951 4.36035C59.4486 4.28534 59.2129 4.24247 58.9986 4.24247C58.1413 4.24247 57.5734 4.79968 57.5734 6.01054V8.78588Z"
              fill="white"
              fill-opacity="0.9"></path>
            <path
              d="M52.0832 8.92558C50.4223 8.92558 49.4043 7.96118 49.4043 6.32169V2.94629H50.9152V6.32169C50.9152 7.06107 51.3545 7.54327 52.0832 7.54327C52.8118 7.54327 53.2512 7.06107 53.2512 6.32169V2.94629H54.7621V6.32169C54.7621 7.96118 53.7548 8.92558 52.0832 8.92558Z"
              fill="white"
              fill-opacity="0.9"></path>
            <path
              d="M42.1582 5.86053C42.1582 5.00328 42.4475 4.27462 43.0369 3.68526C43.6262 3.08519 44.3763 2.78516 45.2872 2.78516C46.198 2.78516 46.9481 3.08519 47.5374 3.68526C48.1268 4.27462 48.4161 5.00328 48.4161 5.86053C48.4161 6.72849 48.1268 7.45715 47.5374 8.0465C46.9481 8.63586 46.198 8.9359 45.2872 8.9359C44.3763 8.9359 43.6262 8.63586 43.0369 8.0465C42.4475 7.45715 42.1582 6.72849 42.1582 5.86053ZM44.1299 7.04995C44.4406 7.37142 44.8264 7.53216 45.2872 7.53216C45.7479 7.53216 46.123 7.37142 46.4337 7.04995C46.7445 6.71777 46.9052 6.3213 46.9052 5.86053C46.9052 5.39976 46.7445 5.00328 46.4337 4.68181C46.123 4.36035 45.7479 4.19961 45.2872 4.19961C44.8264 4.19961 44.4406 4.36035 44.1299 4.68181C43.8191 5.00328 43.6691 5.39976 43.6691 5.86053C43.6691 6.3213 43.8191 6.71777 44.1299 7.04995Z"
              fill="white"
              fill-opacity="0.9"></path>
            <path
              d="M38.4886 8.91524C37.2564 8.91524 36.1419 8.39018 35.4883 7.43649L36.3991 6.33279C36.9135 7.05073 37.685 7.43649 38.4994 7.43649C39.153 7.43649 39.6352 7.09359 39.6352 6.58996C39.6352 6.26849 39.3995 5.98989 38.9173 5.76486C38.8101 5.71128 38.5529 5.61484 38.135 5.45411C37.7278 5.29338 37.4171 5.14336 37.2028 5.02549C36.367 4.54329 35.9491 3.88964 35.9491 3.05382C35.9491 2.38946 36.1955 1.84296 36.6991 1.40362C37.2028 0.964285 37.8564 0.739258 38.6494 0.739258C39.6781 0.739258 40.546 1.09287 41.2533 1.81082L40.4067 2.9681C39.9674 2.49661 39.2602 2.22872 38.6708 2.22872C38.0386 2.22872 37.6528 2.52876 37.6528 2.98953C37.6528 3.30028 37.8671 3.55745 38.2958 3.77177L39.078 4.11466C39.5173 4.29683 39.8388 4.43613 40.0424 4.53257C40.9425 4.97191 41.3926 5.62556 41.3926 6.50424C41.3926 7.21146 41.1247 7.79011 40.5889 8.24016C40.0531 8.69021 39.3566 8.91524 38.4886 8.91524Z"
              fill="white"
              fill-opacity="0.9"></path>
            <path
              d="M34.7127 6.52481H30.3086V5.11035H34.7127V6.52481Z"
              fill="white"
              fill-opacity="0.9"></path>
            <path
              d="M24.9757 8.78588H23.4648V2.94589H24.9436V3.76027C25.2543 3.19235 25.9509 2.78516 26.776 2.78516C27.4082 2.78516 27.9547 2.99947 28.394 3.41737C28.8333 3.83528 29.0584 4.43535 29.0584 5.21759V8.78588H27.5475V5.62478C27.5475 4.69253 27.0546 4.17818 26.3152 4.17818C25.5115 4.17818 24.9757 4.78897 24.9757 5.65693V8.78588Z"
              fill="white"
              fill-opacity="0.9"></path>
            <path
              d="M22.4256 5.73197C22.4256 5.93556 22.4042 6.16059 22.372 6.39633H17.9894C18.2037 7.22143 18.7716 7.63934 19.6931 7.63934C20.3254 7.63934 21.0754 7.39288 21.5791 7.04998L22.1791 8.11082C21.4398 8.6466 20.5932 8.91449 19.6288 8.91449C18.6001 8.91449 17.8179 8.61445 17.2714 8.0251C16.7249 7.43574 16.457 6.70708 16.457 5.86055C16.457 4.97116 16.7356 4.2425 17.3036 3.66386C17.8715 3.08522 18.6001 2.7959 19.5003 2.7959C20.3468 2.7959 21.054 3.06379 21.6005 3.58885C22.147 4.11391 22.4256 4.82114 22.4256 5.73197ZM19.5003 4.04962C18.7394 4.04962 18.1715 4.51039 17.9894 5.2712H20.9576C20.8183 4.51039 20.2718 4.04962 19.5003 4.04962Z"
              fill="white"
              fill-opacity="0.9"></path>
            <path
              d="M12.8169 2.7959C13.642 2.7959 14.3278 3.09593 14.8743 3.68529C15.4207 4.27465 15.6886 5.00331 15.6886 5.86055C15.6886 6.7178 15.41 7.44646 14.8635 8.03581C14.317 8.62517 13.6312 8.92521 12.8061 8.92521C12.0882 8.92521 11.4774 8.65732 10.9738 8.11082V11.1862H9.46289V2.94592H10.9631V3.66386C11.4667 3.08522 12.0775 2.7959 12.8169 2.7959ZM12.549 7.5429C13.0312 7.5429 13.4169 7.38216 13.717 7.0607C14.017 6.73923 14.167 6.34275 14.167 5.87127C14.167 5.39978 14.017 5.00331 13.717 4.68184C13.4169 4.36037 13.0312 4.19964 12.549 4.19964C12.0775 4.19964 11.6917 4.36037 11.3917 4.68184C11.0917 5.00331 10.9416 5.39978 10.9416 5.87127C10.9416 6.34275 11.0917 6.73923 11.3917 7.0607C11.6917 7.38216 12.0775 7.5429 12.549 7.5429Z"
              fill="white"
              fill-opacity="0.9"></path>
            <path
              d="M4.24759 8.91424C3.07959 8.91424 2.09376 8.52848 1.31153 7.74624C0.529289 6.964 0.132812 5.9996 0.132812 4.85303C0.132812 3.70647 0.529288 2.73135 1.32224 1.92768C2.12591 1.12402 3.10103 0.727539 4.25831 0.727539C5.41559 0.727539 6.39071 1.12402 7.18366 1.92768C7.98733 2.73135 8.3838 3.69575 8.3838 4.8316C8.3838 5.96745 7.98733 6.93186 7.18366 7.72481C6.39071 8.51776 5.41559 8.91424 4.24759 8.91424ZM6.7336 4.8316C6.7336 4.10294 6.49786 3.50287 6.01566 3.02067C5.53346 2.53847 4.95482 2.29201 4.25831 2.29201C3.5618 2.29201 2.98316 2.53847 2.50095 3.02067C2.01875 3.50287 1.78301 4.11366 1.78301 4.8316C1.78301 5.54955 2.01875 6.14962 2.49024 6.63182C2.97244 7.11402 3.5618 7.34976 4.25831 7.34976C4.95482 7.34976 5.54418 7.11402 6.02638 6.63182C6.50858 6.14962 6.74432 5.54955 6.7336 4.8316Z"
              fill="white"
              fill-opacity="0.9"></path>
          </svg>
        </div>

        <div class="event-facts">
          {date && <p>{date}</p>}

          {location && <p>{location}</p>}
        </div>

        <div class="btn-home-wrap">
          {
            links?.map((loop) => (
              <Button
                text={loop.text}
                link={loop.link}
                openInNewTab={loop?.openInNewTab}
                class="btn light xl btn-hover fade-in-last"
              />
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
