---
// Components
import Button from "components/Button.astro";

interface Props {
  date?: string;
  location?: string;
  links?: Array<{
    text: string;
    link: string;
    openInNewTab: boolean;
  }>;
}

const { date, location, links } = Astro.props;
---

<section
  class="section section-home-header full-height"
  data-theme-section="dark"
  data-bg-section="header-home"
>
  <div class="overlay overlay-background overlay-background-video">
    <div class="styled-video playpause overlay">
      <video
      class="overlay"
      preload="auto"
      onloadstart="this.playbackRate=0.5"
      autoplay
      loop
      muted
      webkit-playsinline
      playsinline
      poster="/videos/hz-hero-bk.png"
    >
                <source src="/videos/hangzhou-hero-video.webm" type="video/webm">
    </video>
  </div>
    <div class="overlay overlay-gradient-v2"></div>
  </div>

</div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="logo-gosim-scroll">
        <svg width="85" height="30" viewBox="0 0 85 30" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M79.008 28.1769C77.8656 28.1769 76.9136 27.8505 76.1384 27.1841C75.3632 26.5177 74.9824 25.5385 74.9824 24.2193V17.9497H77.24V24.1241C77.24 25.3753 77.9336 26.0009 79.008 26.0009C80.0552 26.0009 80.7624 25.3617 80.7624 24.1241V17.9497H83.02V24.2193C83.02 25.5385 82.6392 26.5177 81.8776 27.1841C81.116 27.8505 80.164 28.1769 79.008 28.1769Z" fill="#E9CB2D"/>
<path d="M63.0312 22.9953C63.0312 21.5401 63.5345 20.3026 64.5409 19.2962C65.5609 18.2762 66.7985 17.7729 68.2809 17.7729C69.7633 17.7729 71.0009 18.2762 72.0073 19.2962C73.0273 20.3026 73.5305 21.5266 73.5305 22.9818C73.5305 24.437 73.0273 25.6609 72.0209 26.6673C71.0145 27.6601 69.7633 28.1635 68.2674 28.1635C66.7713 28.1635 65.52 27.6601 64.5272 26.6673C63.5344 25.6745 63.0312 24.4505 63.0312 22.9953ZM68.2809 25.9466C69.1105 25.9466 69.8041 25.6609 70.3617 25.1033C70.9193 24.5321 71.2049 23.825 71.1913 22.9818C71.1777 22.125 70.892 21.4042 70.3344 20.8465C69.7769 20.2753 69.0833 19.9897 68.2809 19.9897C67.4649 19.9897 66.7713 20.2753 66.2137 20.8465C65.6561 21.4178 65.3705 22.125 65.3705 22.9818C65.3705 23.825 65.6561 24.5321 66.2137 25.1033C66.7713 25.6609 67.4649 25.9466 68.2809 25.9466Z" fill="#E9CB2D"/>
<path d="M55.2889 28.0001H53.0449V17.9497H55.2889V21.8801H59.2057V17.9497H61.4633V28.0001H59.2057V24.0425H55.2889V28.0001Z" fill="#E9CB2D"/>
<path d="M51.4655 28.0001H43.4688V26.3545L48.2696 20.0169H43.659V17.9497H51.3158V19.6769L46.624 25.9329H51.4655V28.0001Z" fill="#E9CB2D"/>
<path d="M37.8022 28.1497C36.2654 28.1497 35.0006 27.6602 34.0078 26.6946C33.015 25.7154 32.5254 24.4778 32.5254 22.9818C32.5254 21.4722 33.0422 20.2209 34.0622 19.2417C35.0822 18.2625 36.3606 17.7729 37.8702 17.7729C39.4886 17.7729 40.9574 18.4122 41.8822 19.337L40.4406 20.969C39.7062 20.2754 38.8494 19.9354 37.8566 19.9354C36.9726 19.9354 36.2518 20.2209 35.6806 20.8057C35.1094 21.3769 34.8238 22.0977 34.8238 22.9545C34.8238 23.8113 35.1094 24.5322 35.667 25.1171C36.2246 25.7019 36.959 26.0009 37.843 26.0009C38.8222 26.0009 39.7878 25.593 40.3454 25.049V23.893H37.7886V21.9618H42.3854V26.1913C41.0798 27.497 39.5566 28.1497 37.8022 28.1497Z" fill="#E9CB2D"/>
<path d="M28.7467 23.8249V17.9497H30.9499V28.0001H29.3315L24.4219 22.1793V28.0001H22.2051V17.9497H23.7283L28.7467 23.8249Z" fill="#E9CB2D"/>
<path d="M21.0479 28.0001H18.7087L18.0423 25.9737H14.6695L13.9759 28.0001H11.6367L15.4039 17.9497H17.3623L21.0479 28.0001ZM17.4439 24.0017L16.3695 20.8193L15.2815 24.0017H17.4439Z" fill="#E9CB2D"/>
<path d="M4.32798 28.0001H2.08398V17.9497H4.32798V21.8801H8.24478V17.9497H10.5024V28.0001H8.24478V24.0425H4.32798V28.0001Z" fill="#E9CB2D"/>
<path d="M55.9551 13.0001H53.7383V2.94971H55.3159L59.1103 8.41691L62.8775 2.94971H64.4823V13.0001H62.2383V7.68251L59.5047 11.5857H58.6887L55.9551 7.68251V13.0001Z" fill="white"/>
<path d="M49.3555 13.0001V2.94971H51.6131V13.0001H49.3555Z" fill="white"/>
<path d="M44.0085 13.177C42.4173 13.177 40.9893 12.5378 40.0645 11.3546L41.2885 9.74982C42.0365 10.6338 42.9477 11.0826 44.0221 11.0826C44.7837 11.0826 45.3413 10.729 45.3413 10.1714C45.3413 9.80422 45.0557 9.49142 44.4709 9.23302L43.5732 8.90662C43.002 8.68902 42.5668 8.49862 42.2812 8.34902C41.2068 7.76422 40.6629 6.90742 40.6629 5.80582C40.6629 4.93542 40.9893 4.21462 41.6557 3.64342C42.3221 3.07222 43.1925 2.78662 44.2397 2.78662C45.5725 2.78662 46.7149 3.23542 47.6533 4.11942L46.5381 5.79222C45.9533 5.23462 45.0149 4.89462 44.2669 4.89462C43.5053 4.89462 43.0701 5.23462 43.0701 5.72422C43.0701 6.06422 43.3421 6.36342 43.8861 6.60822L44.8653 7.00262C45.3821 7.20662 45.7629 7.35622 46.0213 7.47862C47.2317 8.02262 47.8301 8.87942 47.8301 10.0354C47.8301 10.9466 47.4765 11.7082 46.7693 12.293C46.0757 12.8778 45.1509 13.177 44.0085 13.177Z" fill="white"/>
<path d="M28.9551 7.99535C28.9551 6.54015 29.4583 5.30255 30.4647 4.29615C31.4847 3.27615 32.7223 2.77295 34.2047 2.77295C35.6871 2.77295 36.9247 3.27615 37.9311 4.29615C38.9511 5.30255 39.4543 6.52655 39.4543 7.98175C39.4543 9.43695 38.9511 10.6609 37.9447 11.6673C36.9383 12.6601 35.6871 13.1634 34.1911 13.1634C32.6951 13.1634 31.4439 12.6601 30.4511 11.6673C29.4583 10.6745 28.9551 9.45055 28.9551 7.99535ZM34.2047 10.9465C35.0343 10.9465 35.7279 10.6609 36.2855 10.1033C36.8431 9.53215 37.1287 8.82495 37.1151 7.98175C37.1015 7.12495 36.8159 6.40415 36.2583 5.84655C35.7007 5.27535 35.0071 4.98975 34.2047 4.98975C33.3887 4.98975 32.6951 5.27535 32.1375 5.84655C31.5799 6.41775 31.2943 7.12495 31.2943 7.98175C31.2943 8.82495 31.5799 9.53215 32.1375 10.1033C32.6951 10.6609 33.3887 10.9465 34.2047 10.9465Z" fill="white"/>
<path d="M23.2475 13.1497C21.7107 13.1497 20.4459 12.6601 19.4531 11.6945C18.4603 10.7153 17.9707 9.47775 17.9707 7.98175C17.9707 6.47215 18.4875 5.22095 19.5075 4.24175C20.5275 3.26255 21.8059 2.77295 23.3155 2.77295C24.9339 2.77295 26.4027 3.41215 27.3275 4.33695L25.8859 5.96895C25.1515 5.27535 24.2947 4.93535 23.3019 4.93535C22.4179 4.93535 21.6971 5.22095 21.1259 5.80575C20.5547 6.37695 20.2691 7.09775 20.2691 7.95455C20.2691 8.81135 20.5547 9.53215 21.1123 10.1169C21.6699 10.7017 22.4043 11.0009 23.2883 11.0009C24.2675 11.0009 25.2331 10.5929 25.7907 10.0489V8.89295H23.2339V6.96175H27.8307V11.1913C26.5251 12.497 25.0019 13.1497 23.2475 13.1497Z" fill="white"/>
</svg>


          <div class="event-facts">
            {date && <p>{date}</p>}

            {location && <p>{location}</p>}
          </div>

          <div class="btn-home-wrap">
            {
              links?.map((loop) => (
                <Button
                  text={loop.text}
                  link={loop.link}
                  openInNewTab={loop?.openInNewTab}
                  class="btn light xl btn-hover fade-in-last"
                />
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>

  </style>


</div>

<div class="container">
  <!-- Existing content -->
</div>

<style>
  .overlay-background-video {
      opacity: 0.9;
    }
  .shadow-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent shadow */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .transparent-a {
    font-size: 400px; /* Increased size for a much bigger "A" */
    font-weight: bold;
    color: rgba(0, 0, 0, 0); /* Fully transparent */
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.5); /* Optional stroke for visibility */
    mix-blend-mode: destination-out; /* Makes the "A" cut out the shadow */
  }
</style>

</section>
